**1. Display Full Name using string concatenation**

In [34]:
first_name=input("Enter First Name=")
last_name=input("Enter Last Name=")

def Full_name(str1,str2):
  print(str1+" "+str2)
Full_name(first_name,last_name)

Enter First Name=T
Enter Last Name=Praveen
T Praveen

**1. Display alternative letters in the sentence**

In [35]:
  res=str[::2]
  print(res)

def main():
  s=input("Enter Word=")
  string_alternative(s)
if __name__=="__main__":
  main()

Enter Word=Good Evening
Go vnn

**2. Save word occurence and count in New text file**

In [43]:
file1=open(r"/content/input.txt","r")
count={}
for i1 in file1:
  val=i1.strip().split()
  for j1 in val:
    if j1 in count:
      count[j1]+=1
    else:
      count[j1]=1
file1.close()

file2=open("output.txt","w")
for i2,j2 in count.items():
  file2.write(i2+":"+str(j2)+"\n")
  print(i2,j2)
file2.close()

Python 1
Course 2
Deep 1
Learning 1

**3. Convert Height from to centimeters in a separate list using Nested Interactive loop and List comprehensions**

In [42]:
list1=[]
list2=[]
num=int(input("Enter number of customers="))
for n in range(0,num):
  n=int(input())

  list1.append(n)
print(list1)

for i in list1:
  i=i/2.54
  j=round(i,2)
  list2.append(j)
print(list2)

Enter number of customers=4
150
155
148
145
[150, 155, 148, 145]
[59.06, 61.02, 58.27, 57.09]